.div { 
    margin-top: 30px; 
    font-family: Roboto, “Helvetica Neue”, sans-serif; 
    display:flex;
    flex-direction: column;
}

.btn-custom{
  background-color: rgb(63, 81, 114);
  color: rgb(255, 255, 255);
}

.btn-custom:hover{
  background-color: rgb(54, 69, 97);
  border-color: rgb(57, 119, 181) !important;
}

.fileName{
  font-family: Roboto, “Helvetica Neue”, sans-serif;
  color: white;
  font-size: medium;
}

.divMaior{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px; 
    height:400px !important; 
    overflow-y: hidden; 
    overflow-x: hidden;
    background-color: rgb(57, 119, 181);
}

.pdf-image{
  width: 30%;
}

.uploadfilecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 80%;
    border: 2px dashed #bebaba;
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}

.uploadfilecontainer:hover{
    cursor: pointer;
    background-color: rgb(46, 94, 143) !important;
}

.button-upload{
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    width: 300px;
}

.spinner{
  margin-right: 30px;
}

.error{
  width: 300px;
  height: auto;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  display: flex;
  border-width: 2px;
  margin-top: 15px;
  background-color: rgb(172, 115, 115);
  color: white;
  text-align: justify;
  text-justify: inter-word;
}

.errorLabel{
  word-wrap: break-word; 
  width: 290px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(186, 91, 91);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(178, 68, 68);
}