<div class="divMaior">
  <div class="div">
    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="onChange($event)">
      <img *ngIf="!completed" class="pdf-image" src="{{'../assets/ficheiro-pdf.png'}}">
      <img *ngIf="completed" class="pdf-image" src="{{'../assets/check.png'}}">
      <input accept=".pdf" hidden #fileInput class="form-control" type="file" (change)="onChange($event)">
      <label class="fileName" *ngIf="uploaded">{{file.name}}</label>
    </div>  
    <div class="button-upload">
      <div class="spinner"><app-spinner *ngIf="!completed && loading "></app-spinner></div>
      <button disabled *ngIf="!loading" (click)="onUpload()" class="btn btn-custom" id="btn-upload">
        Converter
      </button>
    </div>
  </div>
</div>